.rain {
  background-image: url("./assets/rain.png");
  position: absolute;
  top: 22%;
  width: 110%;
  left: -5%;
  height: 53%;
  opacity: 0.6;
  background-size: 100%;
  background-repeat: repeat;
}

.cloud-dark {
  filter: brightness(0.5);
}

.filter-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.19;
  transition: all 1s;
  background-size: cover;
  border-radius: 25px 25px 15px 15px;
  z-index: 20;
}
